<style>
  .searchbox{
    margin-left:25vw;
     padding:10px;
      }
      .hidden-search-bar{
        display:none;
      }
      @media (max-width:767px){
        .navdesign{
         background-color:#F1F3F4;
         border-radius:4px;
        }
        .searchbar-design{
          display:none;
        }
        .hidden-search-bar{
          display: inline-block;
        }
      }
</style>
<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navdesign" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/listings">Explore</a>
            </div>
        <form action="/listings/search" method="get" class="searchbar-design">              
         <div class="d-flex searchbox">
          <!-- Search Input Block -->
            <div class="d-flex border border-secondry rounded bg-light">
            <input type="text" class="form-control border-0" placeholder="Enter place" style="max-width: 200px;" name="place">
            <input type="text" class="form-control  border-0 ms-1" placeholder="Country" style="max-width: 175px;" name="country">
          </div>
            <!-- Search Button (Outside the block) -->
            <button class="btn btn-danger ms-1 ">Search</button>
        </div>
      </form>

            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="/listings/new">Airbnb your home</a>
              <%if(!currUser){%>
              <a class="nav-link active" href="/user/signup"><b>Sign up</b></a>
              <a class="nav-link" href="/user/login"><b>Log in</b></a>
              <%}%><%if(currUser){%>
              <a class="nav-link" href="/user/logout"><b>Log out</b></a>
              <%}%>
            </div>
          </div>
        </div>
      </nav>
  <div class="searchbar-wrapper bg-white border-bottom w-100 hidden-search-bar" style="position: sticky; top: 56px; z-index:2;">
    <form action="/listings/search" method="get" class="container py-2 d-flex flex-wrap align-items-center justify-content-center border border-white border-2">
     <div class="d-flex flex-wrap gap-2  white-border bg-light ">
      <input type="text" class="form-control" name="place" placeholder="Enter place" style="max-width: 110px;">
      <input type="text" class="form-control" name="country" placeholder="Country" style="max-width: 110px;">
        </div>
      <button class="btn btn-danger ms-2">Search</button>
   </form>
  </div>
</body>